.container {
  padding: 100px 0;
  background-color: #fafbfd;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

/* Installation */
.installation,
.about {
  margin-bottom: 120px;
}

.installation__container {
  align-items: center;
  justify-content: space-between;
}

.installation__form {
  overflow: hidden;
  border-radius: 6px;
  box-shadow: rgba(13, 38, 76, 0.19) 0px 9px 20px;
}

.installation__form:hover {
  transform: translateY(-6px);
  transition: all 0.2s ease-in-out;
}

.form {
  padding: 36px;
}

.form__img {
  width: 100%;
}

.form__floating {
  display: flex;
  flex-flow: column-reverse;
  gap: 0;
}

.form__input {
  border: none;
  border-bottom: 1px solid #e2e2e2;
  padding: 12px 0;
  outline: none;
  width: 100%;
  font-size: 1.8rem;
  -webkit-appearance: none;
  background-color: transparent;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 300;
}

.form__label,
.form__input {
  transition: all 200ms ease;
}

.form__input:focus {
  outline: 0;
  border-color: #6c89ff;
}

.form__input:placeholder-shown + .form__label {
  cursor: text;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125em) scale(1.5);
}

.form__input:not(:placeholder-shown) + .form__label,
.form__input:focus + .form__label {
  transform: translate(0, 0) scale(1);
  cursor: default;
  color: #90a2be;
}

.form__label {
  max-width: 66.666%;
  color: #90a2be;
}

.form__error {
  font-size: 1.2rem;
  color: rgb(238, 68, 68);
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

.form__btn {
  margin-top: 36px;
  font-size: 1.7rem;
  width: 100%;
  height: 54px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  color: #fff;
  background-color: #42ba96;
  box-shadow: 0 0 0 rgba(22, 28, 45, 0);
}

.form__btn:hover {
  background-color: #3ba082;
  transform: translateY(-6px);
  transition: all 0.2s ease-in-out;
}

.installation__info {
  padding-left: 60px;
}

.installation__info-heading {
  font-size: 3.6rem;
  line-height: 4rem;
  font-weight: 300;
}

.installation__info-heading p {
  margin: 0;
}

.installation__info-heading--highlight {
  color: #42ba96;
}

.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 1px;
  color: #42ba96;
  animation: blink 1s infinite;
}
.cursor.typing {
  animation: none;
}

.installation__info-para,
.about__text-para {
  font-size: 2rem;
  font-weight: 300;
  color: #869ab8;
  line-height: 3rem;
}

.installation__info-note {
  color: #42ba96;
  margin: 16px 0;
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 300;
}

.installation__info-note i {
  padding: 5px 6px;
  background-color: #e8f5f3;
  border-radius: 50%;
}

.installation__info-note span {
  font-size: 1.8rem;
}

/* About*/
.about__info-heading {
  font-size: 3.2rem;
  line-height: 3.6rem;
  font-weight: 300;
}

.about__info-heading--highlight {
  color: #335eea;
  margin: 0;
}

.about__text-item {
  display: flex;
  gap: 24px;
  margin-bottom: 28px;
}

.about__text-item svg {
  min-height: 50px;
  min-width: 50px;
}

.about__text-heading {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 300;
  margin: 8px 0;
}

.about__text-span {
  font-size: 1.7rem;
  color: #90a3bc;
  line-height: 2.8rem;
  font-weight: 300;
}

.about__slide {
  position: relative;
}

.about__slide svg {
  color: #dadada;
}

.about__slide-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 60%;
  transform: translateX(-50%) scale(1.1);
  width: 100%;
  pointer-events: none;
  box-sizing: border-box;
}

.about__slide-overlay svg {
  color: #ebeff4;
}

.about__slide-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 60%;
  transform: translateX(-50%) scale(1.1);
  width: 100%;
  max-width: 90%;
  pointer-events: none;
  color: #f1f4f8;
  box-sizing: border-box;
  perspective-origin: 0;
  perspective: 1500px;
  transform-style: preserve-3d;
}

.slide__img {
  width: 100%;
  --bs-screenshot-border-radius: 0.625rem;
  --bs-screenshot-box-shadow: 25px 60px 125px -25px rgba(80, 102, 144, 0.1),
    16px 40px 75px -40px rgba(0, 0, 0, 0.2);
  border-radius: var(--bs-screenshot-border-radius);
  box-shadow: var(--bs-screenshot-box-shadow);
  backface-visibility: hidden;
  transform: rotateY(-35deg) rotateX(15deg);
}

/* Slider*/
.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.slider__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.slider__heading {
  font-size: 3rem;
  font-weight: 300;
  margin: 0 0 16px;
  line-height: 4rem;
  text-align: center;
}

.slider__para {
  font-size: 2rem;
  line-height: 2.8rem;
  text-align: center;
  font-weight: 300;
  color: #869ab8;
  text-align: center;
  margin: 0;
  width: 68%;
}

.slider__container {
  position: relative;
  height: 394px;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
}

.slides__wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
}

.slides {
  position: absolute;
  display: flex;
  transition: transform 0.7s ease;
  user-select: none;
  top: 0;
  max-width: 100%;
  height: 100%;
}

.slider__list {
  height: 100%;
  max-width: 100%;
  display: flex;
  transition: all 1s;
  cursor: pointer;
  z-index: 2;
  height: 394px;
  border-radius: 6px;
  overflow: hidden;
}

.slider__list-image {
  overflow: hidden;
  max-height: 100%;
}

.slider__list-image img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 96% 4% 19% 81% / 0% 30% 70% 100%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.slider__list-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 64px 32px;
}

.slider__list-icon svg {
  width: 140px;
}

.icon__red {
  color: #ff5a5f;
}

.icon__blue {
  color: #3f5d87;
}

.slider__list-para {
  font-size: 1.9rem;
  text-align: center;
  width: 100%;
  line-height: 2.4rem;
  font-weight: 300;
}

.slider__list-footer {
  font-size: 1.4rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #90a2be;
  font-size: 300;
}

.slider__container-button {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
  display: flex;
  justify-content: space-between;
}

.slider__container-btn {
  padding: 20px 22px;
  border-radius: 50%;
  background-color: #335eea;
  border: none;
  color: #fff;
}

.prev {
  transform: translateX(-50%);
}

.next {
  transform: translateX(50%);
}

.prev:active,
.next:active {
  opacity: 0.8;
}

.slider__layout {
  position: absolute;
  top: 0;
}

.slider__layout svg {
  height: 50px;
  width: 100%;
}

.container__layout {
  position: absolute;
  bottom: -6px;
  width: 150%;
  z-index: 1;
}

.container__layout svg {
  color: #eff2f6;
}

@media (max-width: 759px) {
  .container {
    padding: 40px 0;
  }

  .installation__info {
    padding: 0;
  }

  .installation__info-heading {
    font-size: 2.4rem;
  }

  .installation__info-para {
    font-size: 1.7rem;
  }

  .installation__container {
    flex-direction: column-reverse;
    gap: 36px;
  }

  .about__slide-img {
    position: relative;
    left: 50%;
    margin-top: 24px;
  }

  .installation,
  .about {
    margin-bottom: 40px;
  }

  .slide__img {
    width: 100% !important;
    height: 80% !important;
  }

  /* Slider */
  .slider__container {
    height: 700px;
    flex-direction: column;
  }

  .slider__list {
    height: 700px;
    flex-direction: column;
  }

  .slider__item {
    max-height: 400px;
  }

  .slider__list-info {
    padding: 20px 40px;
  }

  .slider__header {
    margin-top: 36px;
  }

  .slider__list-image {
    width: 100%;
    max-height: 400px;
  }

  .slider__list-image img {
    border-radius: 0;
  }

  .slider__container-button {
    top: 80%;
  }
}

@media (max-width: 989px) {
  .installation__info {
    padding: 0;
  }

  .installation__info-heading {
    font-size: 2.4rem;
  }

  .installation__info-para {
    font-size: 1.7rem;
  }

  .about__info-heading {
    font-size: 2.3rem;
  }

  .about__text-para {
    font-size: 1.7rem;
  }

  .about__slide-img {
    top: 20px;
  }

  .slide__img {
    width: 150%;
    height: 80%;
  }

  .slider__heading {
    font-size: 2.4rem;
  }

  .slider__para {
    font-size: 1.8rem;
  }

  .slider__list-image {
    height: 100%;
  }

  .slider__list-image img {
    height: 100%;
    object-fit: cover;
  }
}
