.footer {
    padding: 100px 0;
    background-color: #f1f4f8;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.footer__heading {
    letter-spacing: 0.08em;
    font-size: 1.3rem;
    color: #313949;
    margin-bottom: 16px;
    font-weight: 300;
}

.footer__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 36px;
}

.footer__item {
    font-size: 1.7rem;
    font-weight: 300;
}

.footer__item a {
    text-decoration: none;
    color: #869ab8;
}

.footer__item:hover a {
    text-decoration: underline;
}

.footer__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}

.footer__image {
    display: block;
    margin-bottom: 12px;
}

.footer__image img {
    max-width: 120%;
}

.footer__desc {
    font-size: 1.8rem;
    font-weight: 300;
    color: #414a57;
}

.footer__logo {
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
}

@media (max-width: 759px) {
    .footer {
        padding: 40px 0;
    }
}
