* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Hanken Grotesk", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.none {
  display: none !important;
}
