/* Header */
.header {
    position: relative;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

/* Header Nav*/
.header__nav-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.header__nav-item {
    padding: 16px 24px;
    position: relative;
}

.header__nav-item--link {
    text-decoration: none;
    font-size: 1.7rem;
    color: #4a5b7a;
    font-weight: 400;
}

#nav__landings {
    width: 680px;
}

#nav__pages {
    padding: 36px;
    width: 600px;
}

#nav__account {
    padding: 0;
    width: 220px;
    overflow: visible;
    padding: 12px 0;
}

#nav__documentation {
    padding: 12px;
    width: 360px;
}

.nav__item {
    position: absolute;
    background-color: #fff;
    list-style: none;
    top: 0;
    left: 50%;
    display: none;
    transform: translateX(-50%) translateY(50px);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 50;
}

.nav__item-icon {
    font-size: 1.2rem;
}

.nav__In {
    display: block;
    animation: navIn 0.2s ease-in;
}

/* Nav Landings */
.landings__image {
    position: relative;
    width: 100%;
    height: 100%;
}

.landings__img {
    width: 100%;
    height: 100%;
}

.landings__image-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(28, 76, 232, 0.6);
    font-size: 1.5rem;
}

.landings__image-content span:first-child {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.landings__image-content span {
    margin-bottom: 14px;
    font-size: 1.6rem;
}

.landings__image-btn {
    padding: 12px 18px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.15);
}

.landings__image-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: #1c4ce8;
}

.landings__info {
    padding: 24px;
}

.landings__info-heading {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.08em;
    line-height: 1.55;
    text-transform: uppercase;
    color: #335eea;
}

.landings__info-container {
    margin-bottom: 28px;
}

.landings__info-list {
    list-style: none;
    padding: 0;
}

.landings__info-list a {
    text-decoration: none;
}

.landings__info-item {
    margin-bottom: 12px;
    font-size: 1.5rem;
    color: #6d6d6d;
}

.landings__info-item:hover {
    color: #335eea;
    cursor: pointer;
}

/* Nav Account */
.account__item {
    padding: 12px 24px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    color: #6d6d6d;
}

.account__item a {
    text-decoration: none;
    color: #6d6d6d;
    display: block;
}

.account__item:hover > a,
.account__item:hover i {
    color: #335eea;
}

.account__subNav {
    width: 200px;
    color: #6d6d6d;
    display: none;
    position: absolute;
    top: -12px;
    right: 0;
    transform: translateX(100%);
    z-index: 50;
    background-color: #fff;
    list-style: none;
    padding: 12px 0;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.15);
}

.subNav__In {
    display: block;
    animation: subNavIn 0.2s ease-in;
}

.account__subNav a {
    text-decoration: none;
    color: #6d6d6d;
}

.account__subNav li {
    padding: 12px 24px;
}

.account__subNav li:hover {
    color: #335eea;
}

/* Nav Documentation */
.document__item {
    padding: 12px;
    align-items: center;
    display: flex;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.nav__item:last-child li:not(:last-child) .document__item {
    border-bottom: 1px #f3f3f3 solid;
}

.document__item svg {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.document__item-heading {
    letter-spacing: 0.08em;
    color: #335eea;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    line-height: 2rem;
}

.document__item-content {
    font-size: 1.4rem;
    color: #6d6d6d;
    letter-spacing: 0.04em;
}

.document__item-version {
    color: #335eea;
    padding: 2px 10px;
    border-radius: 50px;
    font-size: 1.2rem;
    background-color: #eaeffd;
    position: absolute;
    right: 0;
    top: 36%;
}

/* Header button */
.header__button {
    padding: 14px 18px;
    background-color: #335eea;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    cursor: pointer;
}

.header__button:hover {
    transform: translateY(-4px);
    transition: all 0.2s ease-in-out;
    background-color: #0c3ee2;
}

.header__button-navBar {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header__button-navBar i {
    font-size: 2.4rem;
    padding: 8px;
}

/* Header Nav Bar */
.header__navBar {
    position: fixed;
    top: 16px;
    left: 16px;
    width: calc(100% - 32px);
    height: calc(100vh - 32px);
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 8px 30px rgb(0, 0, 0, 0.12);
    z-index: 20;
    overflow-y: scroll;
    opacity: 0;
    transform: scale(0) translate(calc(100% -16px), calc(-100% + 8px));
    animation: fadeInFromTopLeft 0.3s ease forwards;
}

.header__button-close {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header__button-close {
    font-size: 1.6rem;
    padding: 8px;
}

.header__navBar-item {
    border-bottom: 1px #ebebeb solid;
}

.header__navBar-heading {
    font-size: 1.8rem;
    color: #516791;
    margin-bottom: 12px;
}

.nav__account-list {
    padding: 0;
    margin-top: 36px;
}

.nav__account-item {
    margin-bottom: 12px;
    font-size: 1.5rem;
    color: #6d6d6d;
    list-style: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.nav__account-item a {
    text-decoration: none;
    color: #6d6d6d;
    display: block;
}

.nav__account-item:hover > a,
.nav__account-item:hover > i {
    color: #335eea;
}

.nav__account-item:hover .nav__account-sub {
    pointer-events: none;
}

.nav__account-sub {
    list-style: none;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 16px 0;
    font-size: 1.5rem;
    color: #6d6d6d;
}

.nav__account-sub a {
    text-decoration: none;
    color: #6d6d6d;
}

.nav__account-sub li:hover {
    color: #335eea;
}

.nav__document-list {
    list-style: none;
    padding: 0;
}

.nav__document-item {
    display: flex;
    padding: 12px;
    align-items: center;
}

.header__navBar-btn {
    width: 100%;
    padding: 16px;
    border: none;
    background-color: #335eea;
    color: #fff;
    font-size: 1.6rem;
}

.header__navBar-btn:hover {
    transform: translateY(-4px);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: all 0.2s ease-in-out;
    background-color: #0c3ee2;
}

@media (max-width: 989px) {
    .header__nav {
        display: none;
    }

    .header__button {
        display: none;
    }

    .header__button-navBar {
        display: block;
    }

    .document__item {
        padding: 12px 0;
    }

    .document__item svg {
        width: 40px;
        height: 40px;
    }

    .document__item-heading {
        font-size: 1.2rem;
    }
}

@media (min-width: 990px) {
    .header__nav {
        display: block;
    }

    .header__button {
        display: block;
    }

    .header__button-navBar {
        display: none;
    }
}
