.introduce {
  margin-top: 100px;
}

.introduce__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.introduce__heading,
.introduce__text {
  font-size: 4.6rem;
  font-weight: 300;
  line-height: 5rem;
  margin: 0;
}

.introduce__para {
  font-size: 2rem;
  color: #869ab8;
  font-weight: 300;
  margin: 16px 0 36px;
  line-height: 2.8rem;
}

.introduce__heading-highlight {
  color: #335eea;
}

.introduce__image {
  position: relative;
}

.introduce__image-img {
  position: absolute;
  width: 100%;
}

.introduce__button-link {
  color: #fff;
  text-decoration: none;
  display: block;
}

.introduce__button {
  display: flex;
  gap: 8px;
}

.introduce__button-left {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #335eea;
  font-size: 1.7rem;
  cursor: pointer;
}

.introduce__button-left i {
  font-size: 1.4rem;
}

.introduce__button-right {
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  color: #335eea;
  background-color: #edf2ff;
  font-size: 1.7rem;
  cursor: pointer;
}

.introduce__button-left:hover {
  transform: translateY(-4px);
  transition: all 0.2s ease-in-out;
  background-color: #0c3ee2;
}

.introduce__button-right:hover {
  background-color: #e1e7fc;
  transform: translateY(-4px);
  transition: all 0.2s ease-in-out;
}

@media (max-width: 759px) {
  .introduce__image-img {
    position: relative;
    width: 100%;
  }

  .introduce__container {
    flex-direction: column-reverse;
    gap: 36px;
  }

  .introduce__content {
    align-items: center;
  }

  .introduce__heading,
  .introduce__text {
    font-size: 3.4rem;
    font-weight: 300;
    line-height: 4rem;
    margin: 0;
  }

  .introduce__para {
    text-align: center;
  }

  .introduce__button-left i {
    display: none;
  }
}

@media (min-width: 760px) and (max-width: 989px) {
  .introduce__heading,
  .introduce__text {
    font-size: 3.6rem;
    font-weight: 300;
    line-height: 4rem;
    margin: 0;
  }

  .introduce__image-img {
    position: absolute;
    width: 150%;
  }
}
