.statistical {
    padding: 50px 0;
    background-color: #eff2f6;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.statistical__container {
    display: flex;
    align-items: center;
}

.statistical__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.statistical__info-heading {
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 4.2rem;
    margin: 0;
}

.statistical__info-heading--highlight {
    color: #3365eb;
}

.statistical__info-para {
    font-size: 2rem;
    line-height: 3rem;
    color: #545f6f;
    font-weight: 300;
}

.statistical__info-data {
    display: flex;
    flex-wrap: wrap;
    margin-left: -24px;
    margin-right: -24px;
}

.statistical__image img {
    width: 100%;
}

.data__item {
    display: flex;
    flex-direction: column;
    font-size: 2.4rem;
    line-height: 3rem;
    padding: 0 24px;
    font-weight: 300;
}

.data__item:nth-child(2) {
    border-right: 1px #d5d5d5 solid;
    border-left: 1px #d5d5d5 solid;
}

.data__desc {
    color: #6b7a91;
    font-size: 2rem;
}

@media (max-width: 759px) {
    .statistical__container {
        flex-direction: column-reverse;
        gap: 36px;
    }
}

@media (max-width: 989px) {
    .statistical__info-heading {
        font-size: 2.4rem;
    }

    .statistical__info-para {
        font-size: 1.8rem;
    }

    .data__item {
        font-size: 2rem;
    }

    .data__desc {
        font-size: 1.7rem;
    }
}
